html {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

section> h2 {
    font-size: 1.6rem;
}


td,th{
    border: 2px solid #000000 ;
}

ul.buttons{
    display: none;
}

footer>a{
    display: none;
}

footer>p>img{
    display: none;
}

a{
    display: none;
}